<section class="container">
  <div class="employee-form">
    <div class="title">{{formData.title}}</div>

    <div *ngFor="let item of formFields">
      <app-employee-form [label]="item.label" [fields]="item.fields" (setForm)="getFormInfo($event)" (checkValid)="checkValidity($event)"></app-employee-form>
    </div>
    <div class="title">
      <button type="submit" class="btn btn-primary" [disabled]="checkValid">Submit</button>
      <button type="submit" class="btn btn-primary" (click)="reset()">Reset</button>
    </div>
  </div>
</section>